<div id="cover" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Adecco Personality Insights</h1>
    <br>人工知能 Watson による性格分析サービス
    <br>仕事に関する３つの質問に答えると、あなたの性格を分析してレポートします。
    <br><a id="start-btn" class="btn btn-default" href="/input">Get Started !</a>
  </div>
</div>

<div id="contents" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h4>Watsonとは？</h4>
    <p>
      WatsonはIBM社が開発した『コンピューターでありながら、人と同じように情報から学び、経験から学習するコグニティブ・テクノロジー』です。
      コグニティブ・テクノロジーとはコンピュータが物事を認識したり、判別したりする技術ののことで、いわゆるA.I.や人工知能と呼ばているもののことです。
      昨年にはボブ・デュランや渡辺謙さんなどの有名人が出演するCMが多く流れていたので、ご存知の方も多いかと思います。
      IBM社はこのWatsonのテクノロジーを利用してさまざまなサービスを展開しており、この Personality Insights もそのうちの一つです。
    </p>
    <h4>Personal Insightsの仕組み</h4>
    <p>
      Personal Insightsは文章を入力すると、その文章を書いた人の性格を分析し、数値化して出力してくれます。
      タネをばらしてしまうと、Watsonは文章の内容自体を見ているのではありません。使われている言葉や表現を見てその人の性格を判断しています。
      例えば、同じ意味の文章でも、どういう言葉を使うかによってその人の性格をなんとなく表したりします（よね？）。
      その”なんとなく”を、コンピュータは膨大なデータを学習することで、統計学的に判定することができるようになりました。
    </p>
    <h4>人材サービスへの活用</h4>
    <p>
      このPersonal Insightsは「人を見る」という定性的な作業を定量的にすることができます。
      数値化された個人の性格分析データと就業実績データを蓄積していけば、どういう性格の人がどういう仕事に適しているか、といった
      職業適性を統計学的に判断できるようになり、キャリアマネジメントなどに大きな効果をもたらすと思います。
    </p>
  </div>
</div>